---
import "../styles/global.css";
import "../styles/account.css";
import { Image } from "astro:assets";
import defaultAvatarIcon from "../images/icons/default-avatar-icon.jpg";
import avatarIcon1 from "../images/icons/avatar_icon1.svg";
import avatarIcon2 from "../images/icons/avatar_icon2.svg";
import avatarIcon4 from "../images/icons/avatar_icon4.svg";
import editIcon from "../images/icons/editIco.svg";
import PopUpContainer from "./PopUpContainer.astro";
import "../styles/popUpContainer.css";
import "../styles/catalog.css";
import { cars } from "../data/cars.js";
import ProductCard from "./ProductCard.astro";
const {
    name,
    lastName,
    balance,
    dateOfBirth,
    email,
    phoneNumber,
    dateModified,
} = Astro.props;
---

<div class="account-container">
    <div class="sub-header">
        <h1>Hello, {name}</h1>
        <div class="nav-options">
            <button class="option-button clicked-option-button"
                >Personal information</button
            >
            <button class="option-button">Wish list</button>
        </div>
    </div>

    <div class="account">
        <div class="profile-sidebar">
            <div class="avatar-section">
                <Image
                    src={defaultAvatarIcon}
                    alt="avatar"
                    class="default-avatar-icon"
                />

                <span class="avatar-label-name">{name} {lastName}</span>
                <span class="avatar-label-email">{email}</span>
            </div>
            <div class="balance-sign-out-div">
                <button class="sign-out-button">Sign out</button>
            </div>
        </div>
        <div class="personal-info-section">
            <div class="option-section option-section-active">
                <div class="personal-info-header">
                    <h3 class="personal-info-title">Personal information</h3>

                    <button class="edit-info-button"
                        ><Image
                            src={editIcon}
                            alt="edit icon button"
                            class="edit-icon"
                        />
                        <span class="editTitleBtn">Edit</span>
                    </button>
                </div>
                <div class="personal-info-container">
                    <div class="personal-info">
                        <h4>Name</h4>
                        <span class="info-cell">{name}</span>
                    </div>
                    <div class="personal-info">
                        <h4>Last Name</h4>
                        <span class="info-cell">{lastName}</span>
                    </div>
                    <div class="personal-info">
                        <h4>Email address</h4>
                        <span class="info-cell">{email}</span>
                    </div>
                    <div class="personal-info">
                        <h4>Phone number</h4>
                        <span class="info-cell">{phoneNumber}</span>
                    </div>
                    <div class="personal-info">
                        <h4>Date of birth</h4>
                        <span class="info-cell">{dateOfBirth}</span>
                    </div>

                    <div class="personal-info">
                        <h4>Date modified</h4>
                        <span class="info-cell">{dateModified}</span>
                    </div>
                </div>
            </div>
            <div class="option-section">
                <div class="catalog">
                    {cars.map((car) => <ProductCard {...car} />)}
                </div>
            </div>
        </div>
    </div>

    <PopUpContainer>
        <div class="edit-menu">
            <div class="avatar-select-menu">
                <h2 class="form-heading">Edit personal information</h2>
                <div class="avatar-container">
                    <Image
                        src={avatarIcon1}
                        alt="avatar1"
                        class="avatarIcon"
                        data-avatar={avatarIcon1.src}
                    />

                    <Image
                        src={avatarIcon2}
                        alt="avatar1"
                        class="avatarIcon"
                        data-avatar={avatarIcon2.src}
                    />

                    <Image
                        src={avatarIcon4}
                        alt="avatar1"
                        class="avatarIcon"
                        data-avatar={avatarIcon4.src}
                    />
                </div>
                
            </div>
            <div class="edit-info-form">
                <div class="form-items">
                    <div class="form-item-name-fields">
                        <label class="item-label" for="first-name"
                            >First Name</label
                        >
                        <label class="item-label" for="last-name"
                            >Last Name</label
                        >
                        <input
                            class="form-input"
                            type="text"
                            placeholder="Enter Name"
                            name="first-name"
                        />

                        <input
                            class="form-input"
                            type="text"
                            placeholder="Enter Last name"
                            name="last-name"
                        />
                    </div>
                    <div class="form-item">
                        <label class="item-label" for="email">Email</label>
                        <input
                            class="form-input"
                            type="text"
                            placeholder="Enter Email"
                            name="email"
                        />
                    </div>
                    <div class="form-item">
                        <label class="item-label" for="phone-number"
                            >Phone Number</label
                        >
                        <input
                            class="form-input"
                            type="text"
                            placeholder="Enter Email"
                            name="phone-number"
                        />
                    </div>
                    <div class="form-item">
                        <label class="item-label" for="birth-date"
                            >Date of Birth</label
                        >
                        <input
                            class="form-input"
                            type="text"
                            placeholder="Enter date of birth"
                            name="birth-date"
                        />
                    </div>
                </div>
                <div class="submit-button">
                    <button class="submit-button">Save Changes</button>
                </div>
            </div>
      
        </div>
    </PopUpContainer>

    {
        /* <!-- <div class="personal-info-pop-up">
    <form action="" class="personal-info-form">
                <div class="pop-up-button">
            <button class="submit-button">Save Changes</button> 
        </div>
    </form>
    
</div> --> */
    }

    <script>
        import { accounts } from "../data/accounts";
        const default_avatar_img = document.querySelector(
            ".default-avatar-icon",
        ) as HTMLImageElement;
        const avatarIcons = document.querySelectorAll(".avatarIcon");
        

        
        const edit_menu = document.querySelector(".edit-menu");
        const edit_info_button = document.querySelector(".edit-info-button");
        const pop_up = document.querySelector(".pop-up-container");
        const pop_up_inputs = document.querySelectorAll(".form-input");
        const option_buttons = document.querySelectorAll(".option-button");
        const option_sections = document.querySelectorAll(".option-section");
        edit_info_button?.addEventListener("click", () => {
            edit_menu?.classList.add("edit-menu-active");
            pop_up?.classList.add("active");
        });
        

        let selectedSrc = "";

        avatarIcons.forEach((avatarIcon) => {
            avatarIcon.addEventListener("click", () => {
                avatarIcons.forEach((ai) =>
                    ai.classList.remove("avatarIcon-selected"),
                );
                avatarIcon.classList.add("avatarIcon-selected");

                const img = avatarIcon as HTMLImageElement;
                selectedSrc = img.dataset.avatar || "";
            });
        });
        

        const submit_button = document.querySelector(".submit-button");
        submit_button?.addEventListener("click", () => {
            const input_values: string[] = [];
            pop_up_inputs.forEach((pop_up_input) => {
                const inputElement = pop_up_input as HTMLInputElement;
                input_values.push(inputElement.value);
            });
            input_values.push(getCurrentDate());
            const fields = [
                "name",
                "lastName",
                "dateOfBirth",
                "email",
                "phoneNumber",
                "dateModified",
            ];
            console.log(input_values);
            fields.forEach((key, i) => {
                (accounts as any)[key] = input_values[i];
            });
            document.querySelectorAll(".info-cell").forEach((cell, i) => {
                const key = fields[i];

                (accounts as any)[key] != ""
                    ? ((cell as HTMLElement).textContent = (accounts as any)[
                          key
                      ])
                    : "";
            });
            if (selectedSrc) {
                if (default_avatar_img) {
                    default_avatar_img.src = selectedSrc;
                }
            }
            // const nameSpan = document.querySelector(".sub-header h1");
            // const avatarLabel1 = document.querySelectorAll(".avatar-label")[0]; // name + lastName
            // const avatarLabel2 = document.querySelectorAll(".avatar-label")[1]; // email

            // if (nameSpan) nameSpan.textContent = `Hello, ${accounts[0].name}`;
            // if (avatarLabel1) avatarLabel1.textContent = `${accounts[0].name} ${accounts[0].lastName}`;
            // if (avatarLabel2) avatarLabel2.textContent = accounts[0].email;
            edit_menu?.classList.remove("edit-menu-active");
            pop_up?.classList.remove("active");
        });

        option_buttons.forEach((option_button, index) => {
            option_button.addEventListener("click", () => {
                option_buttons.forEach((clicked_option_button) =>
                    clicked_option_button.classList.remove(
                        "clicked-option-button",
                    ),
                );
                option_sections.forEach((option_section) =>
                    option_section.classList.remove("option-section-active"),
                );
                option_button.classList.add("clicked-option-button");
                option_sections[index].classList.add("option-section-active");
            });
        });

        function getCurrentDate() {
            const date = new Date();

            let day = date.getDate();
            let month = date.getMonth() + 1;
            let year = date.getFullYear();

            // This arrangement can be altered based on how we want the date's format to appear.
            let currentDate = `${day}-${month}-${year}`;

            return currentDate;
        }

        
    </script>
</div>
