---
import '../styles/global.css';
import '../styles/account.css'
import { Image } from 'astro:assets';
import avatarIcon from '../images/icons/default-avatar-icon.jpg'
import PopUpContainer from './PopUpContainer.astro';
import '../styles/popUpContainer.css'

import '../styles/catalog.css';

const {name, lastName, balance, dateOfBirth, email, phoneNumber, dateCreated} = Astro.props;

let test = false;


---

<div class="account-container">
    <div class="sub-header">
        <h1>Hello, {name}</h1>
        <div class="balance-sign-out-div">
            <h2>Your balance: {balance}</h2>
            <button>Sign out</button>
        </div>
    </div>
    
    <div class="account">
        <div class="profile-sidebar">
            <div class="avatar-section">
                <Image src={avatarIcon} alt="avatar" class = "avatar-img"></Image>
                <span class="avatar-label">{name} {lastName}</span>
                <span class="avatar-label">{email}</span>
                <span class="avatar-label"></span>
                <button>Change avatar icon</button>
            </div>
            <div class="nav-options">
                <button class="option-button">Personal information</button>
                <button class="option-button">Wish list</button>
            </div>
        </div>
        

        <div class="personal-info-section">
            <div class="personal-info-header">
                <h3>Personal info</h3>
                <button class="edit-info-button" >Edit info</button>
            </div>
            <div class="personal-info-container">
                <div class="personal-info">
                    <h4>Name</h4>
                    <span class="info-cell">{name}</span>
                </div>
                <div class="personal-info">
                    <h4>Last Name</h4>
                    <span class="info-cell">{lastName}</span>
                </div>
                <div class="personal-info">
                    <h4>Date of birth</h4>
                    <span class="info-cell">{dateOfBirth}</span>
                </div>
                <div class="personal-info">
                    <h4>Email address</h4>
                    <span class="info-cell">{email}</span>
                </div>
                <div class="personal-info">
                    <h4>Phone number</h4>
                    <span class="info-cell"></span>{phoneNumber}</span>
                </div>
                <div class="personal-info">
                    <h4>Date created</h4>
                    <span class="info-cell"></span>{dateCreated}</span>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <PopUpContainer>
        <h2 class="form-heading">Edit personal information</h2>
        <div class="form-items">
          <div class="form-item">
            <label for="first-name">First Name</label>
            <input type="text" placeholder="Enter Name" name="first-name" />
            <label for="last-name">Last Name</label>
            <input type="text" placeholder="Enter Last name" name="last-name" />
          </div>
          <div class="form-item">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" name="email" />
          </div>
          <div class="form-item">
            <label for="phone-number">Phone Number</label>
            <input type="text" placeholder="Enter Email" name="phone-number" />
          </div>
          <div class="form-item">
            <label for="birth-date">Date of Birth</label>
            <input type="text" placeholder="Enter date of birth" name="birth-date" />
          </div>
        </div>
        <div class="submit-button">
          <button class="submit-button">Save Changes</button>
        </div>
    </PopUpContainer>
</div>
{/* <!-- <div class="personal-info-pop-up">
    <form action="" class="personal-info-form">
                <div class="pop-up-button">
            <button class="submit-button">Save Changes</button> 
        </div>
    </form>
    
</div> --> */}

<script>
     const edit_info_button = document.querySelector(".edit-info-button")
     const pop_up = document.querySelector(".pop-up-container");
     edit_info_button?.addEventListener( "click", () => {
        pop_up?.classList.add("active")
     }) 
</script>



