---
import { Image } from 'astro:assets';
import '../styles/productCard.css';
import LikeButton from "./LikeButton.astro";

const { car } = Astro.props ;

// Use a relative path pattern for glob
const images = import.meta.glob<{ default: ImageMetadata }>('../images/*.{png,jpg,jpeg,gif,webp}');
const getImage = images[car.imageUrl];
---

<a href={"cars/" + car.id} class="product_card">
    {getImage ? (
            <div class="product_card_image_container">
                <LikeButton isLiked={false}/>
                <Image class="product_card_image" src={getImage()} alt={car.title} />
            </div>


    ) : (
        <div class="product_card_image placeholder">No image available</div>
    )}
    <h4 class="product_card_title">{car.title}</h4>
    <div class="product_card_info">

        <p> {car.origin || "Unknown origin"}, {car.run || "Unknown run"}, {car.wheel || "Unknown wheel"}, {car.transmission || "Unknown transmission"}, {car.color || "Unknown color"}</p>
        <p class="product_card_price">
            Price:
            <span>€ {car.price}</span>
        </p>
    </div>
</a>